
.form-group
  %label Vendor Name
  = f.text_field :name, class: 'form-control'

= f.fields_for :addresses do |address|
  .form-group
    %label Street Address
    = address.text_field :street1, class: 'form-control map-field'

  .form-group
    %label Street Address
    = address.text_field :street2, class: 'form-control map-field'

  .row
    .col-lg-6
      .form-group
        %label City
        = address.text_field :city, class: 'form-control map-field'

    .col-lg-3
      .form-group
        %label State
        = address.select :state, us_states_name_and_abbreviation, { include_blank: '' },
          class: 'form-control selectpicker map-field'

    .col-lg-3
      .form-group
        %label Postal Code
        = address.text_field :postal_code, placeholder: "xxxxx-xxxx", data: { mask: "99999-9999" },
          class: 'form-control map-field'

.row
  .col-lg-4.col-sm-2
    .form-group
      %label Main Phone
      .input-group
        .input-group-addon
          .i.fa.fa-phone
        = f.text_field :phone_work, class: 'form-control',
          data: {mask: "999-999-9999"}, placeholder: "xxx-xxx-xxxx" do
          %i.phone.icon

  .col-lg-4.col-sm-2
    .form-group
      %label Alternate Phone
      .input-group
        .input-group-addon
          .i.fa.fa-phone
        = f.text_field :phone_alt, class: 'form-control',
          data: {mask: "999-999-9999"}, placeholder: "xxx-xxx-xxxx" do
          %i.phone.icon

  .col-lg-4.col-sm-2
    .form-group
      %label FAX Number
      .input-group
        .input-group-addon
          .i.fa.fa-fax
        = f.text_field :phone_fax, class: 'form-control',
          data: {mask: "999-999-9999"}, placeholder: "xxx-xxx-xxxx" do
          %i.phone.icon

  .col-lg-12
    .form-group
      %label Website URL
      .input-group
        %span.input-group-btn
          %button.btn.btn-primary{:type => "button"}
            %i.fa.fa-globe
        = f.text_field :url, class: "form-control", placeholder: "http://www.somewhere.com"

  .col-lg-12
    .form-group
      %label Email Address
      .input-group
        %span.input-group-btn
          %button.btn.btn-primary{type: "button"}
            .i.fa.fa-envelope
        = f.text_field :email, class: "form-control", placeholder: "jane@company.com"

:javascript
  var AddressValues = {
    street1: '',
    street2: '',
    city: '',
    state: '',
    postal: '',

    init: function() {
      this.street1  = $('#vendor_address_street1').val();
      this.street2  = $('#vendor_address_street2').val();
      this.city     = $('#vendor_address_city').val();
      this.state    = $('#vendor_address_state option:selected').val();
      this.postal   = $('#vendor_address_postal_code').val();
    },

    isReady: function() {
      if (this.street1 != "" && this.city != "" && this.state != "") {
        return true;
      } else {
        return false;
      }
    },

    toString: function() {
      return(this.street1 + " " + this.street2 + " " + this.city + ", " + this.state + " " + this.postal);
    }
  }

  $('.map-field').change(function () {
    updateMap();
  });

  function updateMap() {
    AddressValues.init();

    if (AddressValues.isReady() == true) {
      var map = new GMaps({
              div: '#map-canvas',
              lat: -12.043333,
              lng: -77.028333
            });

      GMaps.geocode({
        address: AddressValues.toString(),
        callback: function(results, status) {
          if (status == 'OK') {
            var latlng = results[0].geometry.location;
            map.setCenter(latlng.lat(), latlng.lng());
            map.addMarker({
              lat: latlng.lat(),
              lng: latlng.lng()
            });
          }
        }
      });
    }
  }