.row.down-20px
  .col-lg-7
    %label Vendor Description
    = f.cktext_area :description, :ckeditor => { :uiColor => '#AADC6E' }

  .col-lg-5
    %label Hours of Operation
    %table.table.table-hover
      %thead
        %th Day
        %th Open
        %th Close

      %tbody
        %tr
          %td Monday
          %td= f.text_field :mon_open, class: "form-control time-picker"
          %td= f.text_field :mon_close, class: "form-control time-picker"
        %tr
          %td Tuesday
          %td= f.text_field :tue_open, class: "form-control time-picker"
          %td= f.text_field :tue_close, class: "form-control time-picker"
        %tr
          %td Wednesday
          %td= f.text_field :wed_open, class: "form-control time-picker"
          %td= f.text_field :wed_close, class: "form-control time-picker"
        %tr
          %td Thursday
          %td= f.text_field :thu_open, class: "form-control time-picker"
          %td= f.text_field :thu_close, class: "form-control time-picker"
        %tr
          %td Friday
          %td= f.text_field :fri_open, class: "form-control time-picker"
          %td= f.text_field :fri_close, class: "form-control time-picker"
        %tr
          %td Saturday
          %td= f.text_field :sat_open, class: "form-control time-picker"
          %td= f.text_field :sat_close, class: "form-control time-picker"
        %tr
          %td Sunday
          %td= f.text_field :sun_open, class: "form-control time-picker"
          %td= f.text_field :sun_close, class: "form-control time-picker"

      %tfoot
        %th Day
        %th Open
        %th Close

:javascript
  $('.time-picker').timepicker({
    step: '15'
  });
