= f.hidden_field :enabled
= f.hidden_field :signup_date
= f.hidden_field :subscription_date
= f.hidden_field :paid

.row.down-20px
  -# Membership subscription details should only visible to admins
  - if user_signed_in? && current_user.admin?
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            Membership Details

        .panel-body
          .col-lg-6
            .row
              .col-md-4
                .form-group
                  %label Enabled
                  = f.select :enabled, yes_no_select, {}, class: 'form-control'

              .col-md-8
                .form-group
                  %label Signup Date
                  = f.text_field :signup_date, class: 'form-control datepicker'

          .col-lg-6
            .row
              .col-lg-4
                .form-group
                  %label Subscription Paid?
                  = f.select :paid, no_yes_select, {}, class: 'form-control'

              .col-lg-8
                .form-group
                  %label Subscription Date
                  = f.text_field :subscription_date, class: 'form-control datepicker'

  -# This section is visible to new registrations and non-admins
  .col-lg-6
    .panel.panel-success
      .panel-heading.clearfix
        %h4.panel-title.pull-left
          Categories
        .pull-right
          = f.link_to_add :category_vendors, class: 'btn btn-primary btn-xs pull-right', data: { target: '#categories' } do
            %i.fa.fa-plus
            Add Category

      .panel-body.custom
        #categories
          = f.fields_for :category_vendors, :wrapper => false do |cat_form|
            .alert.alert-success.fields
              .row
                .col-md-10
                  = cat_form.select :category_id, nested_dropdown(Category.all.arrange), { include_blank: '' }, class: 'form-control'
                .col-md-2
                  = cat_form.link_to_remove class: 'btn btn-default btn-small' do
                    %i.fa.fa-trash-o

  .col-lg-6
    .panel.panel-warning
      .panel-heading.clearfix
        %h4.panel-title.pull-left
          Tags
        .pull-right
          = f.link_to_add :tags, class: 'btn btn-primary btn-xs pull-right', data: { target: '#tags' } do
            %i.fa.fa-plus
            Add Tag

      .panel-body.custom
        #tags
          = f.fields_for :tags, :wrapper => false do |tag_form|
            .alert.alert-warning.fields
              .row
                .col-md-10
                  = tag_form.text_field :name, class: 'form-control'
                .col-md-2
                  = tag_form.link_to_remove class: 'btn btn-default btn-small' do
                    %i.fa.fa-trash-o

:javascript
  $('.datepicker').datepicker();

  paid_date = $('#vendor_subscription_date').val();
  sign_date = $('#vendor_signup_date').val();

  if (sign_date == "") {
    $('#vendor_signup_date').val(moment().format('L'));
  }