.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          Membership Details

      .panel-body
        .col-lg-6
          .row
            .col-md-4
              .form-group
                %label Enabled
                = f.select :enabled, yes_no_select, {}, class: 'form-control'

            .col-md-8
              .form-group
                %label Signup Date
                = f.text_field :signup_date, class: 'form-control datepicker'

        .col-lg-6
          .row
            .col-md-4
              .form-group
                %label Subscription Paid?
                = f.select :paid, no_yes_select, {}, class: 'form-control'

            .col-md-8
              .form-group
                %label Subscription Date
                = f.text_field :subscription_date, class: 'form-control datepicker'

        .col-lg-6
          .row
            .col-md-4
              .checkbox
                %label
                  = f.checkbox :featured