.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          Membership Metadata

      .panel-body
        .col-lg-6
          .row
            .col-md-4
              .form-group
                %label Enabled
                = f.select :enabled, yes_no_select, {}, class: 'form-control'

            .col-md-8
              .form-group
                %label Signup Date
                = f.text_field :signup_date, class: 'form-control datepicker'

        .col-lg-6
          .row
            .col-md-4
              .form-group
                %label Subscription Paid?
                = f.select :paid, no_yes_select, {}, class: 'form-control'

            .col-md-8
              .form-group
                %label Subscription Date
                = f.text_field :subscription_date, class: 'form-control datepicker'

        .col-lg-6
          .row
            .col-md-6
              .checkbox
                %label
                  = f.check_box :featured
                  Feature this vendor on front page

            .col-md-6
              %label Assigned Member
              = f.collection_select :member_id, Member.all, :id, :full_name, { include_blank: '' },
                class: 'form-control selectpicker map-field map-state'

