.row.down-20px
  .col-lg-12
    .panel.panel-default
      .panel-heading.clearfix
        %h4.panel-title.pull-left
          Photos
        = f.link_to_add :photos, class: 'btn btn-primary btn-xs pull-right btn-add-photo',
            data: { toggle: 'popover',
                    placement: 'top',
                    container: 'body',
                    content: 'Click Here to Add a Photo',
                    target: '#photo-list' } do
          %i.fa.fa-plus
          Add Photo

      .panel-body.custom
        .bs-callout.bs-callout-info
          %h4 Instructions
          %p A total of 8 photos may be uploaded with a paid subscription.  Each photo may be no larger than 640x480 pixels

        %table#photo-list.table.table-striped.table-hover
          %thead
            %th(style="width: 250px") Image
            %th Title
            %th Caption
            %th.action_column Actions

          %tbody
            = f.fields_for :photos, :wrapper => false do |photo_form|
              %tr.fields
                %td
                  - unless photo_form.object.image?
                    = photo_form.file_field :image, class: 'file'
                  - else
                    = image_tag photo_form.object.image.url(:thumb)
                %td
                  = photo_form.text_field :title, class: 'form-control'
                %td
                  = photo_form.text_area :description, rows: 5, class: 'form-control fill-text-area vert-only'
                %td.action_column
                  = photo_form.link_to_remove class: 'btn btn-default btn-small' do
                    %i.fa.fa-trash-o