= render 'categories/partials/menubar'

%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Parent Category
      %th Enabled
      %th Last Updated
      %th.action_column Actions

  %tbody
    - if @categories.count == 0
      %tr
        %td(colspan="6")
          No categories defined
    - else
      - @categories.each do |category|
        %tr
          %td= link_to category.title, edit_category_path(category)
          %td
            - unless category.parent_id.nil?
              = link_to Category.where(id: category.parent_id).first.title
          %td= category.enabled
          %td= category.updated_at
          %td
            = render 'categories/partials/actions', category: category

  %tfoot
    %tr
      %th Name
      %th Parent
      %th Enabled
      %th Last Updated
      %th.action_column Actions