= form_for(@category, html: { role: "form" }) do |f|
  .row
    .col-lg-6.col-sm-2
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'

      .form-group
        %label Name
        = f.text_field :name, class: 'form-control', readonly: true

      .form-group
        %label Parent Category
        = f.select :parent_id, nested_dropdown(Category.all.arrange), { include_blank: '' }, class: 'form-control'

  .checkbox
    %label
      = f.check_box :enabled, checked: true
      Enabled

  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Back', categories_path, class: 'btn btn-default btn-small'

:javascript
  $('#category_title').on("keydown keyup", function() {
    newText = $('#category_title').val().replace(/\s+/g, "_").toLowerCase();

    newText = newText.replace(/[^\w\s_][_]/g,'');

    return $('#category_name').val(newText);
  });