.col-md-8.col-md-offset-2
  .row
    .col-md-6
      .bs-callout.bs-callout-info#column-1
        %h4 Already signed up?  Then sign in!
        = form_tag session_path(:member) do
          .form-group
            = text_field_tag 'member[email]', nil, class: 'form-control', placeholder: 'Email'

          .form-group
            = password_field_tag 'member[password]', nil, class: 'form-control', placeholder: 'Password'

          .form-group
            = check_box_tag 'member[remember_me]'
            = label_tag 'member[remember_me]', 'Remember me'

          .form-group
            = submit_tag 'Sign in', class: 'btn btn-primary'
            = link_to "Forgot your password?", new_password_path(:member), class: 'btn btn-default'

    .col-md-6
      .bs-callout.bs-callout-warning#column-2
        %h4 Not signed up?  Then choose below..
        .row.down-20px
          .col-md-12
            = link_to "Vendor Signup", signup_vendor_path, class: 'btn btn-success btn-lg btn-block'

        .row.down-20px
          .col-md-12
            = link_to "Member Signup", signup_member_path, class: 'btn btn-primary btn-lg btn-block'

:javascript
  $('#column-2').height($('#column-1').height());