.container
  .col-md-2.hidden-xs.bs-callout.bs-callout-green1#column-1
    %h4 Instructions

  .col-md-10.col-sm-5#column-2
    %h2.bg-success.text-center(style="padding: 10px")
      New Individual Member Registration

    = nested_form_for(@member, html: { multipart: true, role: "form" }) do |f|
      .hidden-xs.hidden-sm
        %ul.nav.nav-pills.nav-wizard{role: "tablist"}
          %li.active
            %a#tab-general{data: {toggle: "tab"}, href: "#general"}
              Step 1
            .nav-arrow
          %li
            .nav-wedge
            %a#tab-profile{data: {toggle: "tab"}, href: "#profile"}
              Step 2
            .nav-arrow
          %li
            .nav-wedge
            %a#tab-green{data: {toggle: "tab"}, href: "#green"}
              Step 3
            .nav-arrow
          %li
            .nav-wedge
            %a#tab-complete{data: {toggle: "tab"}, href: "#complete"}
              Complete Registration
            .nav-wedge
      .hidden-lg.hidden-md
        %ul.nav.nav-pills.nav-stacked{role: "tablist"}
          %li.active
            %a#tab-general{data: {toggle: "pill"}, href: "#general"}
              Step 1
          %li
            %a#tab-profile{data: {toggle: "pill"}, href: "#profile"}
              Step 2
          %li
            %a#tab-green{data: {toggle: "pill"}, href: "#green"}
              Step 3
          %li
            %a#tab-complete{data: {toggle: "pill"}, href: "#complete"}
              Complete Registration

      .tab-content
        #general.tab-pane.active
          = render 'members/partials/profile/general', f: f

        #profile.tab-pane
          = render 'members/partials/profile/profile', f: f

        #green.tab-pane
          = render 'members/partials/profile/green', f: f

        #complete.tab-pane
          = render 'members/partials/profile/complete', f: f

:javascript
  $('#column-1').height($('#column-2').height());

  $('#column-2').resize(function() {
    $('#column-1').height($('#column-2').height());
  })