= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .col-lg-12
    .bs-docs-section
      %h3.page-header
        Edit Account Profile

      .bs-callout.bs-callout-green1
        %h4 Instructions
        Here you can make changes to your security profile.  When you have completed making your changes, please click
        the <span class="label label-primary">Update Profile</span> button.  You may also cancel your membership
        at the bottom of the page.

    = devise_error_messages!

    .form-group
      %label * Current Password
      = f.password_field :current_password, autocomplete: "off", class: 'form-control'

    .form-group
      %label * New Password
      = f.password_field :password, autocomplete: "off", class: 'form-control'

    .form-group
      %label * Password Confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

    .form-group
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    = f.submit "Update Password", class: 'btn btn-primary'
