= simple_form_for(resource, as: resource_name, html: { role: "form" }, url: registration_path(resource_name)) do |f|
  .col-md-6.col-md-offset-3
    .bs-callout.bs-callout-green1
      %h4 New Member Signup
      = devise_error_messages!

      .form-group
        = f.email_field :email, class: 'form-control', placeholder: 'Email address (required)'

      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password (required)'

      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password again (required)'

      .checkbox
        %label
          = f.check_box :accepted, id: 'chk_agree'
          I Agree to the following
          = link_to 'Terms and Conditions', '/terms', target: '_blank'

      = f.submit 'Complete Signup', id: 'btn-submit', class: 'btn btn-primary'

:javascript
  $('#btn-submit').click(function () {
    var checked = $('#chk_agree').prop('checked');
    if (checked == false) {
      bootbox.alert({
        title: "Incomplete Registration",
        message: "Please click the <strong>I Agree to the Terms and Conditions</strong> checkbox first!",
        backdrop: false,
        animate: false
      });
      return false;
    }
  });