= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .col-md-12
    %h2.bg-success.text-center(style="padding: 10px")
      New Member Signup

    = devise_error_messages!

    .bs-docs-section
      %h3.page-header Security Credentials
      .bs-callout.bs-callout-green1
        %h4 Instructions
        Please enter a valid email address and a password.  Your email address will be your login for the site.
      = render 'members/partials/profile/credentials', f: f

    .bs-docs-section(style="padding-bottom: 20px;")
      %h3.page-header Complete Signup
      .bs-callout.bs-callout-green1
        %h4 Instructions
        Please review the profile settings above.  If you are satisfied, click the <strong>I Agree to the Terms and Conditions</strong>
        checkbox and then click the <span class="label label-primary">Complete Signup</span> button.
      = f.fields_for :profile do |profile|
        = render 'members/partials/profile/complete', f: profile