- resource.build_profile if resource.profile.nil?
= form_for(resource, :as => resource_name,         |
  :url => registration_path(resource_name)) do |f| |
  %ul
    = devise_error_messages!
    %li.fullname
      = f.fields_for :profile do |profile_fields|
        = profile_fields.label :fullname
        = profile_fields.text_field :fullname
    %li.email
      = f.label :email
      = f.email_field :email, :autofocus => true
    %li.password
      = f.label :password
      = f.password_field :password
    %li.password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %li
      = f.submit
    %li
      %p= render "devise/shared/links"