= form_for(@profile.with_blank_location, url: profile_path, html: { role: 'form', multipart: true }) do |f|
  = render 'profiles/partials/profile/general', f: f
  = render 'profiles/partials/profile/contact', f: f
  = render 'profiles/partials/profile/location', f: f
  = render 'profiles/partials/profile/demographics', f: f
  = render 'profiles/partials/profile/green', f: f

  .col-md-12
    .row
      = f.submit 'Save Changes', class: 'btn btn-primary btn-large'
