= form_for(Contact.new, id: 'form-contact') do |f|
  %div(style="padding-bottom: 20px")
    %h4(style="color: #fff")
      Send Us a Message

    .form-group
      = f.text_field :name, class: 'form-control', placeholder: 'Your name'

    .form-group
      = f.text_field :email, class: 'form-control', placeholder: 'Your email address'

    .form-group
      = f.select :topic, topics, { include_blank: 'Select a topic...' }, class: 'form-control'

    .form-group
      = f.text_area :body, rows: 5, class: 'form-control', placeholder: 'Your message...'

    = f.submit "Send Message", class: 'btn btn-primary'

:javascript
  $('#form-contact').submit(function() {
    bootbox.alert({
      message: "Not implemented yet.  Please check back later.",
      title: 'Send Us a Message'
    });
    return false;
  });