%h1 Listing individuals

%table
  %tr
    %th First name
    %th Last name
    %th Street1
    %th Street2
    %th City
    %th State
    %th Postalcode
    %th
    %th
    %th

  - @individuals.each do |individual|
    %tr
      %td= individual.first_name
      %td= individual.last_name
      %td= individual.street1
      %td= individual.street2
      %td= individual.city
      %td= individual.state
      %td= individual.postalcode
      %td= link_to 'Show', individual
      %td= link_to 'Edit', edit_individual_path(individual)
      %td= link_to 'Destroy', individual, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Individual', new_individual_path
