.col-lg-12
  = render 'contacts/partials/menubar'

  %table.table.table-striped.table-hover
    %tr
      %th Date
      %th From
      %th Topic
      %th Message
      %th.action_column
        Actions

    - @contacts.each do |contact|
      %tr
        %td= contact.created_at.to_formatted_s(:short)
        %td= contact.name
        %td= contact.topic
        %td= contact.body.truncate(100).html_safe
        %td.action_column
          = render 'contacts/partials/actions', contact: contact
