= f.hidden_field :member_id

.row
  .col-md-5
    .row
      .col-md-8
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              Avatar

          .panel-body
            .preview(style="min-height: 200px")
              - if f.object.avatar?
                = image_tag f.object.avatar.url(:small)
              = f.file_field :avatar, class: 'file'

  .col-md-7
    .row
      .col-md-12
        .bs-callout.bs-callout-green1
          %h4.bs-title
            Current User Details
          .row.bg-warning.pad_tb_5
            .col-md-4
              Email (Username):
            .col-md-8
              = current_member.email

          .row.bg-success.pad_tb_5
            .col-md-4
              User Type:
            .col-md-8
              = current_member.user_type

          .row.bg-warning.pad_tb_5
            .col-md-4
              Vendor Profile Count:
            .col-md-8
              = current_member.vendor_count

          .row.bg-success.pad_tb_5
            .col-md-4
              Vendor Reviews:
            .col-md-8
              = current_member.vendor_reviews

    .row
      .col-md-5
        .form-group
          %label * First
          = f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First name'

      .col-md-2
        .form-group
          %label Middle
          = f.text_field :middle_initial, class: 'form-control', placeholder: 'MI'

      .col-md-5
        .form-group
          %label * Last
          = f.text_field :last_name, class: 'form-control', placeholder: 'Last name'

:javascript
  $('#profile_avatar').fileinput({
    showUpload: false,
    showRemove: false,
    showCaption: false,
    elPreviewContainer: '.file-preview',
    browseClass: 'btn btn-primary btn-block',
  });