= nested_form_for(@vendor, html: { multipart: true, role: "form" }) do |f|
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active
      %a#tab-general{data: {toggle: "tab"}, href: "#general", role: "tab"}
        General Details
    %li
      %a#tab-profile{data: {toggle: "tab"}, href: "#profile", role: "tab"}
        Description &amp; Hours
    %li
      %a#tab-green{data: {toggle: "tab"}, href: "#green", role: "tab"}
        Green Details
    %li
      %a#tab-photos{data: {toggle: "tab"}, href: "#photos", role: "tab"}
        Photos
    %li
      %a#tab-listing{data: {toggle: "tab"}, href: "#listing", role: "tab"}
        Listing Options
    %li
      %a#tab-complete{data: {toggle: "tab"}, href: "#complete", role: "tab"}
        Complete Registration

  .tab-content
    #general.tab-pane.active
      .col-md-12.col-sm-12
        = render 'vendors/partials/profile/brand', f: f

      .col-md-6.col-sm-6
        = render 'vendors/partials/profile/address', f: f

      .col-md-6.col-sm-6
        = render 'vendors/partials/profile/map', f: f

    #profile.tab-pane
      = render 'vendors/partials/profile/hours', f: f

    #green.tab-pane
      = render 'vendors/partials/profile/green', f: f

    #photos.tab-pane
      = render 'vendors/partials/profile/photos', f: f

    #listing.tab-pane
      = render 'vendors/partials/profile/listing', f: f

    #complete.tab-pane
      = render 'vendors/partials/profile/complete', f: f