.form-group.down-20px
  .row
    .col-md-5
      %label * First Name
      = f.text_field :first_name, autofocus: true, class: 'form-control'

    .col-md-2
      %label Middle Initial
      = f.text_field :middle_initial, class: 'form-control'

    .col-md-5
      %label * Last Name
      = f.text_field :last_name, class: 'form-control'

= f.fields_for :addresses do |address|
  .form-group
    %label * Street Address
    = address.text_field :street1, class: 'form-control map-field'

  .form-group
    = address.text_field :street2, class: 'form-control map-field'

  .row
    .col-lg-6
      .form-group
        %label * City
        = address.text_field :city, class: 'form-control map-field'

    .col-lg-3
      .form-group
        %label * State
        = address.select :state, us_states_name_and_abbreviation, { include_blank: '' },
          class: 'form-control selectpicker map-field'

    .col-lg-3
      .form-group
        %label * Postal Code
        = address.text_field :postal_code, placeholder: "xxxxx", class: 'form-control map-field'

.row
  .col-lg-4
    .form-group
      %label Home Phone
      .input-group
        .input-group-addon
          .i.fa.fa-phone
        = f.text_field :phone_home, class: 'form-control',
          data: {mask: "999-999-9999"}, placeholder: "xxx-xxx-xxxx" do
          %i.phone.icon

  .col-lg-4
    .form-group
      %label Work Phone
      .input-group
        .input-group-addon
          .i.fa.fa-phone
        = f.text_field :phone_work, class: 'form-control',
          data: {mask: "999-999-9999"}, placeholder: "xxx-xxx-xxxx" do
          %i.phone.icon

  .col-lg-4
    .form-group
      %label Mobile Phone
      .input-group
        .input-group-addon
          .i.fa.fa-phone
        = f.text_field :phone_mobile, class: 'form-control',
          data: {mask: "999-999-9999"}, placeholder: "xxx-xxx-xxxx" do
          %i.phone.icon