%section#wrapper{data: {link: "link-alerts"}}
  .col-lg-12.col-sm-2
    = render 'alerts/partials/actionbar'

    %table.table.table-hover
      %thead
        %tr
          %th Title
          %th Begins
          %th Ends
          %th Last Updated
          %th.action_column
            Actions

      %tbody
        - if @alerts.count == 0
          %tr
            %td(colspan="4")
              No alerts defined
        - else
          - @alerts.each do |alert|
            %tr
              %td= alert.title
              %td= alert.begins
              %td= alert.ends
              %td= alert.updated_at.to_formatted_s(:short)
              %td
                = render "alerts/partials/actions"

      %tfoot
        %tr
          %th Title
          %th Begins
          %th Ends
          %th Last Updated
          %th.action_column
            Actions
