.panel.panel-info
  .panel-heading
    %h4.panel-title
      %i.fa.fa-trophy
      Featured Listings

  .panel-body
    .feature-wrapper
      .row
        - @featured.each do |list|
          .col-md-3
            .vendor-logo
              = link_to vendor_path(list) do
                = image_tag list.logo.url(:thumb)

            .vendor-title
              = link_to vendor_path(list) do
                %h5= list.name

            .vendor-cat
              %small
                in
                - list.categories.each_with_index do |cat, index|
                  = link_to category_path(cat) do
                    - unless index == list.categories.size - 1
                      = cat.name + ', '
                    - else
                      = cat.name

            .vendor-desc
              = truncate(list.description.html_safe, limit: 10)