%section#wrapper{data: {link: "link-members"}}
  .col-lg-12.col-sm-2
    = render 'profiles/partials/actionbar'

    %table.table.table-striped
      %thead
        %tr
          %th Email
          %th Last Name
          %th First Name
          %th Status
          %th.action_column
            Actions

      %tbody
        - if @members.count == 0
          %tr
            %td(colspan="4")
              No members defined
        - else
          - @profiles.each do |profile|
            %tr
              %td= member.email
              %td= member.first_name
              %td= member.last_name
              %td= member.enabled
              %td.action_column
                = render 'members/partials/actions', member: member

      %tfoot
        %tr
          %th Email
          %th Last Name
          %th First Name
          %th Status
          %th.action_column
            Actions