.col-lg-12.col-sm-2
  = render 'vendors/partials/actionbar'

  %table.table.table-striped
    %thead
      %tr
        %th(style="width: 250px") Name
        %th(style="width: 400px") Description
        %th Status
        %th Paid
        %th Updated
        %th.action_column
          Actions

    %tbody
      - if @vendors.count == 0
        %tr
          %td(colspan="5")
            No vendors defined
      - else
        - @vendors.each do |vendor|
          %tr
            %td= link_to vendor.name, vendor_path(vendor)
            %td= vendor.description.truncate(100).html_safe
            %td= vendor.enabled.status
            %td= vendor.paid.to_y_n
            %td= vendor.updated_at.strftime('%m/%d/%Y')
            %td.action_column
              = render 'vendors/partials/actions', vendor: vendor

    %tfoot
      %tr
        %th Name
        %th Description
        %th Status
        %th Paid
        %th Updated
        %th.action_column
          Actions